<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- boardmapper.xml -->

<mapper namespace="kr.co.mycom.service.BoardService">

	<insert id="insertBoard"
		parameterType="kr.co.mycom.model.BoardDTO">
		insert into spring_board (num, name, email, pwd,
		subject, content, regdate, hit, parent, sort, tab)
		values((select
		nvl(max(num),0)+1 from spring_board),
		#{name},
		#{email}, #{pwd},
		#{subject}, #{content}, sysdate,0,
		(select nvl(max(num),0)+1 from
		spring_board),
		0, 0)
	</insert>

	<select id="getBoardList" parameterType="java.util.HashMap"
		resultType="kr.co.mycom.model.BoardDTO">
		SELECT * FROM (
		SELECT A.*, ROWNUM r FROM (
		SELECT * FROM
		spring_board ORDER BY parent DESC, sort
		) A
		)
		WHERE r >= #{start} AND r
		&lt;= #{end}
	</select>

	<select id="getBoard" parameterType="int"
		resultType="kr.co.mycom.model.BoardDTO">
		select * from spring_board where num = #{num}
	</select>

	<!-- public int getBoardCount() -->
	<select id="getBoardCount" resultType="int">
		select count(*) from
		spring_board
	</select>

	<update id="updateHit" parameterType="int">
		update spring_board set hit
		= hit + 1 where num = #{num}
	</update>

	<update id="updateBoard"
		parameterType="kr.co.mycom.model.BoardDTO">
		update spring_board set name = #{name}, email =
		#{email}, subject =
		#{subject}, content = #{content} where num = #{num}
		and pwd = #{pwd}
	</update>



	<update id="updateSort"
		parameterType="kr.co.mycom.model.BoardDTO">
		update spring_board set sort = sort + 1 where parent =
		#{parent} and sort >=
		#{sort}
	</update>

	<insert id="insertReply"
		parameterType="kr.co.mycom.model.BoardDTO">
		insert into spring_board (num, name, email, pwd,
		subject, content, regdate, hit, parent, sort, tab)
		values((select nvl(
		max ( num ), 0 ) + 1 from spring_board), #{name}, #{email}, #{pwd},
		#{subject},
		#{content}, sysdate, 0, #{parent}, #{sort}, #{tab})
	</insert>


	<delete id="deleteBoard"
		parameterType="kr.co.mycom.model.BoardDTO">
		delete from spring_board where num = #{num} and pwd = #{pwd}
	</delete>

</mapper>