<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    id="WebApp_ID" version="5.0">
    <display-name>day42_jsp</display-name>
    <!-- 
    error 처리 404, 500
    <error-page>
        <error-code>500</error-code>
        <location>/Error/Error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/Error/Error404.jsp</location>
    </error-page>
    
     -->
    
    
    
    <!-- application 객체를 이용해서 web에 초기화 내용 읽기 -->
    <context-param>
        <description>기본적인 설명</description>
        <param-name>email</param-name>
        <param-value>ai.edu.kingsmile@gmail.com</param-value>
    </context-param>
    <context-param>
        <description>설명 정보</description>
        <param-name>info</param-name>
        <param-value>10000</param-value>
    </context-param>
    
    
    
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>
</web-app>